{
  "openapi": "3.0.1",
  "info": {
    "title": "Neptune Leaderboard REST API",
    "description": "Public REST API",
    "termsOfService": "Terms of service",
    "contact": {
      "name": "Neptune",
      "url": "https://neptune.ml",
      "email": "contact@neptune.ml"
    },
    "license": {
      "name": "",
      "url": ""
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "//scale.neptune.ai/"
    }
  ],
  "tags": [
    {
      "name": "attributes",
      "description": "Provides attributes api"
    },
    {
      "name": "dashboards",
      "description": "Dashboards Api Controller"
    },
    {
      "name": "experiments",
      "description": "Provides experiments api"
    },
    {
      "name": "leaderboard",
      "description": "Provides alias api"
    },
    {
      "name": "notebooks",
      "description": "Provides notebooks api"
    },
    {
      "name": "proto",
      "description": "Proto Attributes Api Controller"
    },
    {
      "name": "reports",
      "description": "Reports Api Controller"
    }
  ],
  "paths": {
    "/api/leaderboard/v1/aliases/": {
      "get": {
        "summary": "List project aliases",
        "operationId": "listProjectAliases",
        "parameters": [
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "projectIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alias"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create alias",
        "operationId": "createAlias",
        "parameters": [
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "projectIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "aliasToCreate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "aliasToCreate"
      }
    },
    "/api/leaderboard/v1/aliases/{aliasId}": {
      "get": {
        "summary": "Get alias",
        "operationId": "getAlias",
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "description": "aliasId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "summary": "Update alias",
        "operationId": "updateAlias",
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "description": "aliasId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "aliasToUpdate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AliasParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alias"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "aliasToUpdate"
      },
      "delete": {
        "summary": "Delete alias",
        "operationId": "deleteAlias",
        "parameters": [
          {
            "name": "aliasId",
            "in": "path",
            "description": "aliasId",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes": {
      "get": {
        "summary": "Get experiment attributes",
        "operationId": "getExperimentAttributes",
        "parameters": [
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentAttributesDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/artifacts": {
      "get": {
        "summary": "Get artifact attribute",
        "operationId": "getArtifactAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/attributes": {
      "get": {
        "summary": "Get attributes",
        "operationId": "getAttributes",
        "parameters": [
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributesDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Get attributes",
        "operationId": "getAttributesWithPathsFilter",
        "parameters": [
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "attributeQuery",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributeQueryDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributesDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "attributeQuery"
      }
    },
    "/api/leaderboard/v1/attributes/booleans": {
      "get": {
        "summary": "Get boolean attribute",
        "operationId": "getBoolAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BoolAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/complexes": {
      "get": {
        "summary": "Get object attribute",
        "operationId": "getComplexAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComplexAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/datetimes": {
      "get": {
        "summary": "Get datetime attribute",
        "operationId": "getDatetimeAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatetimeAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/download": {
      "get": {
        "summary": "Download file attribute",
        "operationId": "downloadAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expectedContentDisposition",
            "in": "query",
            "description": "expectedContentDisposition",
            "schema": {
              "type": "string",
              "default": "attachment",
              "enum": [
                "inline",
                "attachment"
              ]
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "description": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/downloadFileSetZipRequest": {
      "post": {
        "summary": "Creates fileset attribute's zip download request",
        "operationId": "prepareForDownloadFileSetAttributeZip",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadPrepareRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/files": {
      "get": {
        "summary": "Get file attribute",
        "operationId": "getFileAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/floatSeries": {
      "get": {
        "summary": "Get float series attribute",
        "operationId": "getFloatSeriesAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatSeriesAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/floatSeries/csv": {
      "get": {
        "summary": "Get values of a float series",
        "operationId": "getFloatSeriesValuesCSV",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expectedContentDisposition",
            "in": "query",
            "description": "expectedContentDisposition",
            "schema": {
              "type": "string",
              "default": "attachment",
              "enum": [
                "inline",
                "attachment"
              ]
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gzipped",
            "in": "query",
            "description": "gzipped",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/floatSeries/csv/multiple": {
      "post": {
        "summary": "Get multiple float series in single ZIP",
        "operationId": "getMultipleFloatSeriesValuesCSV",
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributesRequestsListDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadPrepareRequest"
                }
              },
              "application/zip": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadPrepareRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "request"
      }
    },
    "/api/leaderboard/v1/attributes/floats": {
      "get": {
        "summary": "Get float attribute",
        "operationId": "getFloatAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/imageSeries/zip": {
      "get": {
        "summary": "Get values of a image series",
        "operationId": "getImageSeriesValuesZip",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expectedContentDisposition",
            "in": "query",
            "description": "expectedContentDisposition",
            "schema": {
              "type": "string",
              "default": "attachment",
              "enum": [
                "inline",
                "attachment"
              ]
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/integers": {
      "get": {
        "summary": "Get integer attribute",
        "operationId": "getIntAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/ls": {
      "get": {
        "summary": "List files in attribute of type File Set",
        "operationId": "lsFileSetAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "query",
            "description": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FileEntry"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/operations": {
      "post": {
        "summary": "Execute operations",
        "operationId": "executeOperations",
        "parameters": [
          {
            "name": "User-Agent",
            "in": "header",
            "description": "User-Agent",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "operations",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OperationError"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "operations"
      }
    },
    "/api/leaderboard/v1/attributes/ping": {
      "post": {
        "summary": "Ping experiment",
        "operationId": "ping",
        "parameters": [
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too many requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/queryAttributeDefinitions": {
      "get": {
        "summary": "[deprecated] Queries attribute definitions of an experiment",
        "operationId": "queryAttributeDefinitions",
        "parameters": [
          {
            "name": "attributeType",
            "in": "query",
            "description": "attributeType",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributesSearchResultDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": true
      },
      "post": {
        "summary": "Queries attribute definitions of an experiment",
        "operationId": "queryFilteredAttributeDefinitions",
        "parameters": [
          {
            "name": "attributeType",
            "in": "query",
            "description": "attributeType",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "queryAttributeDefinitionsDTO",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryAttributeDefinitionsDTO"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributesSearchResultDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "queryAttributeDefinitionsDTO"
      }
    },
    "/api/leaderboard/v1/attributes/series/float": {
      "get": {
        "summary": "Get float series values",
        "operationId": "getFloatSeriesValues",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lineage",
            "in": "query",
            "description": "lineage",
            "schema": {
              "type": "string",
              "enum": [
                "FULL",
                "NONE"
              ]
            }
          },
          {
            "name": "skipToStep",
            "in": "query",
            "description": "skipToStep",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloatSeriesValuesDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/series/image": {
      "get": {
        "summary": "Get image series values",
        "operationId": "getImageSeriesValues",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageSeriesValuesDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/series/image/single": {
      "get": {
        "summary": "Get image series single value",
        "operationId": "getImageSeriesValue",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "index",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/series/string": {
      "get": {
        "summary": "Get string series values",
        "operationId": "getStringSeriesValues",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringSeriesValuesDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/storage/file/upload": {
      "post": {
        "summary": "fileAtomUpload",
        "operationId": "fileAtomUpload",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "description": "ext",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationErrorsListDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/storage/file/upload/finish": {
      "post": {
        "summary": "fileAtomMultipartUploadFinish",
        "operationId": "fileAtomMultipartUploadFinish",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadId",
            "in": "query",
            "description": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationErrorsListDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/storage/file/upload/part": {
      "post": {
        "summary": "fileAtomMultipartUploadPart",
        "operationId": "fileAtomMultipartUploadPart",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadId",
            "in": "query",
            "description": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadPartIdx",
            "in": "query",
            "description": "uploadPartIdx",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationErrorsListDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/storage/file/upload/start": {
      "post": {
        "summary": "fileAtomMultipartUploadStart",
        "operationId": "fileAtomMultipartUploadStart",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "description": "ext",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalLength",
            "in": "query",
            "description": "totalLength",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadMetadataDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/storage/fileset/upload": {
      "post": {
        "summary": "fileSetFileUpload",
        "operationId": "fileSetFileUpload",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subPath",
            "in": "query",
            "description": "subPath",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationErrorsListDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/storage/fileset/upload/finish": {
      "post": {
        "summary": "fileSetFileMultipartUploadFinish",
        "operationId": "fileSetFileMultipartUploadFinish",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subPath",
            "in": "query",
            "description": "subPath",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadId",
            "in": "query",
            "description": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationErrorsListDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/storage/fileset/upload/part": {
      "post": {
        "summary": "fileSetFileMultipartUploadPart",
        "operationId": "fileSetFileMultipartUploadPart",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subPath",
            "in": "query",
            "description": "subPath",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadId",
            "in": "query",
            "description": "uploadId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadPartIdx",
            "in": "query",
            "description": "uploadPartIdx",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationErrorsListDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/storage/fileset/upload/start": {
      "post": {
        "summary": "fileSetFileMultipartUploadStart",
        "operationId": "fileSetFileMultipartUploadStart",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentIdentifier",
            "in": "query",
            "description": "experimentIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subPath",
            "in": "query",
            "description": "subPath",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "totalLength",
            "in": "query",
            "description": "totalLength",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadMetadataDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/stringSeries": {
      "get": {
        "summary": "Get string series attribute",
        "operationId": "getStringSeriesAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringSeriesAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/stringSeries/csv": {
      "get": {
        "summary": "Get values of a string series",
        "operationId": "getStringSeriesValuesCSV",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expectedContentDisposition",
            "in": "query",
            "description": "expectedContentDisposition",
            "schema": {
              "type": "string",
              "default": "attachment",
              "enum": [
                "inline",
                "attachment"
              ]
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gzipped",
            "in": "query",
            "description": "gzipped",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/stringSets": {
      "get": {
        "summary": "Get string set attribute",
        "operationId": "getStringSetAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringSetAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/strings": {
      "get": {
        "summary": "Get string attribute",
        "operationId": "getStringAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderIdentifier",
            "in": "query",
            "description": "holderIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "holderType",
            "in": "query",
            "description": "holderType",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringAttributeDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false
      }
    },
    "/api/leaderboard/v1/attributes/style/putAttributeStyleSettings": {
      "put": {
        "summary": "Creates or updates attribute style settings",
        "operationId": "putAttributeStyleSettings",
        "requestBody": {
          "description": "params",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttributeStyleSettingsParamsDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "params"
      }
    },
    "/api/leaderboard/v1/attributes/style/queryAttributeStyleSettings": {
      "post": {
        "summary": "Queries attributes style settings",
        "operationId": "queryAttributeStyleSettings",
        "requestBody": {
          "description": "params",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAttributesStyleSettingsParamsDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttributesStyleSettingsResultDTO"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "params"
      }
    },
    "/api/leaderboard/v1/attributes/timeseries/view": {
      "post": {
        "summary": "Get series view",
        "operationId": "getTimeSeriesView",
        "parameters": [
          {
            "name": "projectIdentifier",
            "in": "query",
            "description": "projectIdentifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimeSeriesViewRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimeSeriesViewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
            "content": {}
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "request"
      }
    },
    "/api/leaderboard/v1/attributes/upload": {
      "post": {
        "summary": "Upload file attribute",
        "operationId": "uploadAttribute",
        "parameters": [
          {
            "name": "attribute",
            "in": "query",
            "description": "attribute",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "experimentId",
            "in": "query",
            "description": "experimentId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ext",
            "in": "query",
            "description": "ext",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Optional«OperationError»"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {}
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "408": {
            "description": "Request Timeout",
            "content": {}
          },
          "409": {
            "description": "Conflict",
            "content": {}
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests",
[...]
